body
{
    font-family: arial;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}

#spin_button {
    background-color: #495867;
    color:white;
    outline: none;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}

#spin_button:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}

#reset_button {
    background-color: #495867;
    color:white;
    outline: none;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 1rem;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}

#reset_button:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}

.container {
    width: 100%;
    height: fit-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.inner-c {
    width: 100%;
}

#pointer {
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
}

.pill {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 10px;
    border: #ECC8AF 1px solid;
    display: inline-block;
    cursor: pointer;
    background-color: white;
    margin-left:0.5rem;
}

.unselected {
    background-color: white;
    color: black;
}

.selected {
    background-color: #ECC8AF;
}